@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --animate-glow: glow 1.5s ease-in-out infinite alternate;

  @keyframes glow {
    from {
      box-shadow: 0 0 5px 3px var(--color-lime-500);
    }
  }
}

@utility pause {
  animation-play-state: paused;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0 5rem 0 5rem;
  line-height: 1.6;
  font-size: 18px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.refreshDisabled {
  @apply bg-gradient-to-tr from-gray-500 to-gray-800 text-gray-500 hover:bg-green-800 hover:bg-none;
}
.refreshEnabled {
  @apply animate-glow bg-gradient-to-tr from-green-500 via-lime-400 to-green-100;
}
